@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: rgb(225, 236, 153);
}
header {

    min-height: 100px;
    height: 15vh;
    width: 100vw;
}
nav {
    background-color: rgb(228, 216, 216);
    min-height: 100px;
    max-height: 170px;
    height: 15vh;
    width: 100vw;

}

nav #logo {
    
    margin: 15px;
    height: 90px;
    box-sizing: border-box;

}

nav div#menu {

    margin-left: 15%;
}
div > a {
    color:black;
    text-decoration: none;
    position: relative;

    margin-left: 10vw;
    bottom: 70px;
    padding: 40px 0px;
    box-sizing: border-box;
}
#photos {
    margin-left: 28vw;
}
nav a:hover {

    color:red;
}
/* main */
main {
    background-color:blueviolet;
    height: 85vh;
}
.divisao {
    width: 33vw;
    height: 85vh;
    background-color: aquamarine;
    display: block;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
}
.divisao1 {
    margin-left: 4px;
}
