@charset "UTF-8";

:root {
    --cor1: #0B0029;
    --cor2: #201442;
    --cor3: #392375;
    --cor4: #1F0075;
}

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: var(--cor1);
}
header {

    min-height: 100px;
    height: 15vh;
    width: 100vw;
}
nav {
    background-color: var(--cor2);
    min-height: 100px;
    max-height: 170px;
    height: 15vh;
    width: 100vw;

}

nav #logo {
    
    margin: 15px;
    height: 90px;
    box-sizing: border-box;

}

nav div#menu {

    margin-left: 15%;
}
div > a {
    color:black;
    text-decoration: none;
    position: relative;

    margin-left: 10vw;
    bottom: 70px;
    padding: 40px 0px;
    box-sizing: border-box;
}
#photos {
    margin-left: 28vw;
}
nav a:hover {

    color:#1c0068;
}
/* main */
main {
    height: 85vh;
}
.divisao {
    width: 32vw;
    height: 85vh;
    display: block;
    float: left;
    box-sizing: border-box;
}
#land1 {
    height: 510px;
    border-radius: 10px;
}
#land2 , #land3 {
    height: 510px;
    border-radius: 10px;
}
#land4{

    height: 416px;
    border-radius: 10px;
}
#land5 {
    height: 468px;
    border-radius: 10px;
}
#land6 {
    height: 400px;
    border-radius: 10px;
}